<template data-sc-template="category-toolbar">
  <nav class="sc-catalog-toolbar" aria-label="Categorías de la carta">
    <div class="sc-catalog-categories"></div>
  </nav>
</template>

<template data-sc-template="category-submenu">
  <div class="sc-category-submenu" role="menu" aria-hidden="true">
    <div class="sc-category-submenu-list"></div>
  </div>
</template>

<template data-sc-template="category-arrow-left">
  <button class="sc-rail-arrow sc-rail-arrow--left" type="button" aria-label="Ver categorías anteriores">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#666" aria-hidden="true">
      <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"></path>
    </svg>
  </button>
</template>

<template data-sc-template="category-arrow-right">
  <button class="sc-rail-arrow sc-rail-arrow--right" type="button" aria-label="Ver más categorías">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#666" aria-hidden="true">
      <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"></path>
    </svg>
  </button>
</template>

<template data-sc-template="category-indicator">
  <span class="sc-category-indicator" aria-hidden="true"></span>
</template>
